
h1 {
    font-family: courier;
    font-size: 65px;
	margin-left: 0;
    margin-top: 20px;
    text-align: center;
    color:#3B3A3A;
}
h2 {
	font-family: courier, #B5B5B5;
	margin-left: 50px;
	font-size: 20px;
}

i {
    color:gray;
}

i:hover
{
    color:#FFB0E6;
}
a {
    color:#FF99C2;
  }
p {
	font-family: courier;
	font-size: 20px;
    line-height:25px;
	color: gray;
    margin-top: 1em;
    margin-bottom: 1em;
}
#contact-block {
    display: inline-block;
    background-color: black;
    clear: both;
    float:top;
}
#contact-block a{
    color:#C9C9C9;
    text-decoration: none
}
.content {
    width: 80%;
    vertical-align: center;
    margin:0 auto;
}
.nav{
    font-family: courier;
    list-style:none;
    margin-top: 10px;
    vertical-align: center;
    padding:0;
    text-align:center;
    font-size: 18px;
    background-color: none;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: gray;
    text-decoration: none;
}
.page-wrap{
    background-color:white;
}
.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
    display: block;
    margin-left: auto;
    margin-right: auto
    }  
.rotate:hover  
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}